<p id="notice"><%= notice %></p>
<div class="show_page">
  <ul>
    <h4>
      <%= @store.name %>
    </h4>
    <li>
      <div>
        <strong>Address:</strong>
        <br>
        <%= @store.address %>
      </div>
    </li>
    <li>
      <div>
        <strong>Contact:</strong>
        <br>
        <%= @store.contact %>
      </div>
    </li>
    <br>
    <br>
    <% if @menu_items.present? %>
      <h5>
        <u>MENU</u>
      </h5>
      <% @menu_items.each do |category, items| %>
        <h6><b><%= category.name %></b><h6>
        <ul>
          <% items.each do |item| %>
            <li><%= link_to item.name, store_item_path(id: item.id, store_id: item.store_id) %></li>
            <ul>
              <li><%= item.description %></li>
              <li><%= item.price %> /- </li>
            </ul>
          <% end %>
          <br>
          <br>
        </ul>
      <% end %>
    <% end %>
    <%= link_to 'Items', store_items_path(store_id: @store.id), class: 'btn btn-primary btn-sm' %>
    <% if current_user.admin? %>
       | <%= link_to 'Edit', edit_store_path(@store), class: 'btn btn-warning btn-sm' %> | 
      <%= link_to 'New item', new_store_item_path(@store), class: 'btn btn-info btn-sm' %> | 
      <%= link_to 'Remove Store', @store, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
    <% end %>
  </ul>
</div>
