<%= form_with(model: @product, url: store_product_path(id: @product.id, store_id: @product.store_id)) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <br>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <br>
    <%= form.text_field :price %>
  </div>
  <%= form.hidden_field :store_id, value: @product.store_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
